/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* CSS Variables for Theming */
:root {
    --primary-header-color: #CC4E5C;
    --primary-body-color: #E2725B;
    --primary-cards-color: #EEE8AA;
    --secondary-cards-color: #2F847C;
    --third-cards-color: #9ACA9D;
    --forth-cards-color: #E5DC8B;
    --text-color: #ffffff;
    --black-text-color: #000000;
    --primary-font: 'Nunito', sans-serif;
    --secondary-font: 'Open Sans', sans-serif;
}

/* Global Styles */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--primary-body-color);
}

/* Navbar Styles */

.custom-navbar {
    background-color: var(--primary-header-color);
  
}

/* nav bar font color */
.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
  color: var(--text-color);
}

/* set hover/focus states */
.custom-navbar .nav-link:hover,
.custom-navbar .nav-link:focus {
  color: #833f46;
}

/* Logo Image Styles */
.navbar-brand img {
     height: 40px;      /* controls visible size */
     width: auto;       /* keep aspect ratio */
     display: block;
     vertical-align: middle;

}
.navbar-brand {
  display: inline-flex;
  align-items: center;   /* vertically centers img + text */
  gap: 0.5rem;           /* space between logo and text (instead of me-2) */
}



.footer {
    background-color: var(--primary-header-color);
}