/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* CSS Variables for Theming */
:root {
    --primary-header-color: #CC4E5C;
    --primary-body-color: #E2725B;
    --primary-cards-color: #EEE8AA;
    --secondary-cards-color: #2F847C;
    --third-cards-color: #9ACA9D;
    --forth-cards-color: #E5DC8B;
    --text-color: #ffffff;
    --black-text-color: #000000;
    --primary-font: 'Nunito', sans-serif;
    --secondary-font: 'Open Sans', sans-serif;
}

/* Global Styles */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--primary-body-color);
}

/* Navbar Styles */

.custom-navbar {
    background-color: var(--primary-header-color);
  
}

/* nav bar font color */
.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
  color: var(--text-color);
}

/* set hover/focus states */
.custom-navbar .nav-link:hover,
.custom-navbar .nav-link:focus {
  color: #833f46;
}

/* Logo Image Styles */
.navbar-brand img {
     height: 40px;      /* controls visible size */
     width: auto;       /* keep aspect ratio */
     display: block;
     vertical-align: middle;

}
.navbar-brand {
  display: inline-flex;
  align-items: center;   /* vertically centers img + text */
  gap: 0.5rem;           /* space between logo and text (instead of me-2) */
}

/* Hero Section Styles */

#home {
    background-image: url(../images/hero-image.jpg);
    background-size: cover; /* makes it fill the screen */
    background-position: center center 5%; /* keeps it nicely aligned */
    background-repeat: no-repeat; /* no ugly tiles */
    height: 700px; /* set a fixed height for the hero section */
}

#home img {
    max-width: 500px; /* limit logo size */
    height: auto; /* maintain aspect ratio */
}

/* About Section Styles */

#about {
    background-color: var(--primary-body-color);
}

#about img {
    max-width: 500px; /* make image responsive */
    height: auto; /* maintain aspect ratio */
}

#about p {
    font-size: 1.5rem; /* increase font size for better readability */
    line-height: 1.6; /* improve line spacing */

}


/* Footer Styles */
.footer {
    background-color: var(--primary-header-color);
}

/* Media Queries for Responsiveness */
@media (max-width: 767px) {
    #about img { max-width: 100%; }
    #about p { font-size: 1rem; } /* reduce text size if needed */
}